.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}

.add-msg-btn-padding {
    padding: 5%;
}
.error-msg, .error-input {
    color: red;
}
.add-text-btn-style {
    width: 20%;
    margin: 0.5%;
    padding: 0.5%;
    float: left;
}
.remove-btn {
    float: right;
    cursor: pointer;
    font-size: 11px;
    color: red;
}