@import '../../../styles/_variables';

$side-menu-width: 16rem;

.chsr.side-menu {
    min-width: $side-menu-width;
    max-width: $side-menu-width;
    // min-height: calc(100% - #{$toolbar-height});
    // margin-top: $toolbar-height;
    min-height: 100%;
    background-color: #4d394b;
    z-index: 1000;

    &.animated {
        position: absolute;
        left: 0;
        top: 0;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        animation-duration: 300ms;

        &.slide-in {
            animation-name: sideMenuSlideIn;
        }
    
        &.slide-out {
            animation-name: sideMenuSlideOut;
        }
    }

    .side-menu-title {
        font-size: 1.25rem;
    }

    .list-group-item {
        background-color: #4d394b;
        cursor: pointer;
        border: none;

        span {
            padding-left: .25rem;
        }
    }

    .nested > :first-child {
        padding-left: 1rem;
        padding-right: .25rem;
    }

    .nested .nested > :first-child {
        padding-left: 2.5rem;
    }

    .swiper-wrapper {
        height: 90%;
    }

    .swiper-slide {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .swiper-pagination-bullet {
        background-color: white;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary-color;
    }
}

.side-menu-backdrop {
    position: absolute;
    left: $side-menu-width;
    top: 0;
    width: calc(100vw - #{$side-menu-width});
    height: 100vh;
    z-index: 999;
    background-color: transparent;
}

@keyframes sideMenuSlideIn {
    from { transform: translate3d(-100%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
}

@keyframes sideMenuSlideOut {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-100%, 0, 0); }
}