.chsr.nav-items {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all .2s ease-in-out;

    &.right {
        margin-left: auto;
    }
}

.chsr.nav-item {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    color: #fff;
    box-sizing: border-box;
    list-style: none;
    font-size: .85rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(47, 191, 240);
        text-decoration: none;
    }

    span {
        padding-left: .25rem;
    }
}

.dropdown-wrapper {
    position: relative;
    height: 100%;
}

.dropdown-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}