.chsr {
    .nav-items {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    
        &.navbar-left {
            margin-right: auto;
        }
    
        &.navbar-right {
            margin-left: auto;
        }

        .navbar-brand.white,
        .nav-link {
            color: white;
        }
    }

    .nav-item {
        color: #fff;
        font-size: .85rem;
        cursor: pointer;
    
        &:hover {
            background-color: rgb(47, 191, 240);
            text-decoration: none;
        }

        .nav-link span {
            margin-left: .25rem;
        }
    }
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}