.chsr.nav-items {
    position: relative;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    transition: all .2s ease-in-out;

    &.right {
        margin-left: auto;
    }
}

.chsr.nav-item {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0 .5rem;
    color: white;
    box-sizing: border-box;
    align-items: center;
    list-style: none;
    cursor: pointer;

    &:hover{
        color: #fff;
        background-color: rgb(47, 191, 240);
        text-decoration: none;
    }

    span {
        padding-left: .5rem;
    }
}

.dropdown-wrapper {
    position: relative;
    height: 100%;
}

.dropdown-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
}