@import '../../../styles/_variables';

.page-wrapper {
    position: relative;
    max-width: calc(100% - #{$ctrl-panel-width});
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: max-width,opacity $ctrl-panel-transition-duration;

    &.put-away  {
        max-width: calc(100% - #{$ctrl-panel-put-away-width});
    }

    @media (max-width: 576px) {
        & {
            max-width: 100%;
        }
    }
}
