@import '../../../styles/_variables';
@import '../../../styles/mixins/_mixins';

.page-wrapper {
    @include scrollable();
    position: relative;
    max-width: calc(100% - #{$ctrl-panel-width});
    transition: max-width,opacity $ctrl-panel-transition-duration;

    &.put-away  {
        max-width: calc(100% - #{$ctrl-panel-put-away-width});
    }

    > div:first-of-type {
        padding-top: $toolbar-height;
    }

    .table-title {
        text-align: left;
        background-color: #f4f4f4;
    }

    @media (max-width: 768px) {
        & {
            max-width: 100%;
        }
    }
}
