@import '../../../styles/mixins/_rwd';
@import '../../../styles/themes/_colors';

$_toolbar-bg-color: $primary-color;
$_toolbar-height: 64px;

.toolbar {
    background-color: $_toolbar-bg-color;
    height: $_toolbar-height;

    > .navbar {
        display: flex;
        justify-content: flex-start;
        padding: 0 1rem;
        height: 100%;

        &.mobile {
            display: none;
        }
    }

    > nav > .navbar-header > a {
        &, &:hover {
            color: white;
        }
    }
}

@include media-breakpoint-down(sm) {
    .toolbar > .navbar {
        &.normal {
            display: none;
        }

        &.mobile {
            display: flex;
        }
    }
}