@import '../../../styles/_variables';

$_toolbar-bg-color: $primary-color;

.has-toolbar {
    margin-top: $toolbar-height;
}

.chsr.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $_toolbar-bg-color;
    height: $toolbar-height;
    font-size: .9rem;
    z-index: 1050;

    .navbar-header {
        display: flex;
        align-items: center;
        flex: 1;
        height: 100%;
    }

    > .navbar {
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    > nav > .navbar-header > a {
        &, &:hover {
            color: white;
        }
    }

    .transparent {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}

.chsr .dropdown-menu {
    color: black;
    padding: 0;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .175);
    // transform-origin: center top;
    // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    // animation-fill-mode: both;
    // animation-duration: 250ms;
    // animation-name: scaleYGrowUp;

    &.open {
        display: block;
        background-color: #fefefe;
    }

    &.closed {
        display: none;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: .85rem;
        letter-spacing: 1px;
        cursor: pointer;

        i {
            padding-right: .25rem;
        }

        &:focus,
        &:hover {
            // background-color: rgb(207, 255, 253);
            background-color: #f8f9fa;
            text-decoration: none;
            color: black;
            transition: all .2s ease-in-out;
        }
    }
}

@keyframes scaleYGrowUp {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
}
