$_receptionist-item-size: 3rem;

.product-modal {
    .receptionist-item {
        position: relative;
        max-width: $_receptionist-item-size + 1rem;
        border-radius: .5rem;

        &.selected {
            background-color: #eee;
        }

        .receptionist-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
        }

        .selected-effect {
            left: 0;
            top: 0;
            background-color: rgba(#000, .3);
            border-radius: .5rem;
        }
    }

    .image-container {
        width: $_receptionist-item-size;
        height: $_receptionist-item-size;
    }
}