.Greetings {
    border-radius: 6px;

    .jumbotron {
        .breadcrumb {
            margin: 0;
            padding-left: 0;

            a {
                text-decoration: none;
                transition: all .1s ease-in-out;
            }
        }
    }
}

@media (min-width: 1024px) {
    .greetings-wrapper {
        padding: 4%;
    }
}