@import './_variables';

// #region colors
.line-color {
    color: $line-color;
}

.fb-messsenger-color {
    color: $facebook-messsenger-color
}
// #endregion

// #region font-awesome custom classes
.fa-1p5x {
    font-size: 1.5em;
}
// #endregion

.btn-border {
    border: 1px solid #ced4da;
}

.image-container {
    position: relative;
    background-color: transparent;

    .image-fit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: initial;
        margin: auto;
        border-radius: .25rem;
    }
}
