@import "node_modules/bootstrap/scss/_functions";
// https://getbootstrap.com/docs/4.0/getting-started/theming/
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
@import 'node_modules/bootstrap/scss/_variables';

$toolbar-height: 50px;

// variables for Controll Panel
$ctrl-panel-transition-duration: 300ms;
$ctrl-panel-width: 16rem;
$ctrl-panel-put-away-width: 4rem;
$ctrl-panel-logo-size: 3rem;

// Colors declaration
$primary-color: #33ccff;
$body-bg-color: #f8f8f8;

$line-color: #43b901;
$line-dev-color: #262a2e;
$facebook-color: #4267b2;
$facebook-messsenger-color: #407fff;

$_pc-break-point: 1024px;
$_mobile-break-point: 768px;

$_phone-portrait-bp-min: 320px;
$_phone-portrait-bp-max: 480px;