$toolbar-height: 50px;

// Controll Panel 
$ctrl-panel-transition-duration: 300ms;
$ctrl-panel-width: 16rem;
$ctrl-panel-logo-size: 4rem;

// Colors declaration
$primary-color: #33ccff;
$body-bg-color: #f8f8f8;