$toolbar-height: 50px;

// variables for Controll Panel
$ctrl-panel-transition-duration: 300ms;
$ctrl-panel-width: 16rem;
$ctrl-panel-put-away-width: 4rem;
$ctrl-panel-logo-size: 3.5rem;

// Colors declaration
$primary-color: #33ccff;
$body-bg-color: #f8f8f8;
