@import '../../styles/_variables';

.route-wrapper {
    position: relative;
    min-height: 100%;
    background-color: $body-bg-color;

    .has-toolbar {
        padding-top: $toolbar-height;
    }
}