.Table {
    width: 100%;
    display: block;
    thead {
        display: block;
        tr {
            display: flex;

            th {
                flex: 2;
            }

            th:last-child {
                flex:1;
            }
        }
    }

    tbody {
        display: block;
        tr {
            display: flex;

            th, td {
                flex: 2;

                textarea {
                    width: 100%;
                    outline: none;
                }

                button {
                    margin-right: 8px;
                }
            }

            td:last-child {
                flex:1;
            }
        }
    }
}