@import '../../../styles/_variables';

$ctrl-panel-bg-color: #4a8998;
$ctrl-panel-active-color: rgb(46, 85, 95);

.ctrl-panel {
    display: none;
    width: $ctrl-panel-width;
    min-height: 100%;
    background-color: $ctrl-panel-bg-color;
    z-index: 1040 !important; // 由於 swiper container 層級較高，因此需設定 !important
    transition: width 200ms;

    &.put-away {
      width: $ctrl-panel-logo-size;
      margin: 0; }

    &.animated {
        position: absolute;
        left: 0;
        top: 0;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        animation-duration: 250ms;

        &.slide-in {
            display: block;
            animation-name: controlPanelSlideIn;
        }
    
        &.slide-out {
            display: block;
            animation-name: controlPanelSlideOut;
        }
    }

    .ctrl-panel-title {
        font-size: 1.25rem;
    }

    .swiper-wrapper {
        height: calc(100% - 2rem);
    }

    .swiper-slide {
        font-size: .85rem;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 0;
            background-color: transparent;
        }
    }

    .swiper-pagination-bullet {
        background-color: white;
        margin: 0 .25rem;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary-color;
    }

    .app-icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: .25rem;
    }

    .list-group-item {  
        background-color: $ctrl-panel-bg-color;
        cursor: pointer;
        border: none;

        > :first-child {
            margin-right: .5rem;
        }

        span {
            max-width: 55%;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }

    .detail-list {
        .list-group-item {
            display: flex;
            align-items: center;
            letter-spacing: 1.2px;
            font-weight: 300;

            &:hover {
                background-color: $ctrl-panel-active-color;
            }

            > :first-child {
                margin-right: .5rem;
            }

            span {
                max-width: 55%;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .nested {
            &.list-group-item,
            > :first-child {
                margin-left: .5rem;
            }

            .nested {
                &.list-group-item,
                > :first-child {
                    margin-left: 1rem;
                }

                .nested {
                    &.list-group-item,
                    > :first-child {
                        margin-left: 1.25rem;
                    }
                }
            }
        }
    }


    .simple-list {
        display: none;

        .ctrl-panel-logo {
            width: $ctrl-panel-logo-size;
            height: $ctrl-panel-logo-size;
        }
    }

    &:not(.put-away) + .edge-toggle-container:hover .edge-toggle-btn:hover i::before {
        content: "\f053";
    }

    &.put-away + .edge-toggle-container:hover .edge-toggle-btn:hover i::before {
        content: "\f054";
    }
}

.ctrl-panel-backdrop {
    position: absolute;
    left: $ctrl-panel-width;
    top: 0;
    width: calc(100vw - #{$ctrl-panel-width});
    height: 100vh;
    z-index: 1039;
    background-color: transparent;
}

.edge-toggle-container {
    position: absolute;
    top: 0;
    height: 100%;
    left: 16rem;
    width: 1rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 300ms;

    &.put-away {
        transform: translate3d(-12rem, 0, 0);
    }

    &:hover,
    &.hover {
        opacity: 1;
    }

    &:hover .edge-toggle-btn:hover i {
        transform: rotate(0deg);
    }

    .edge-toggle-btn {
        width: 100%;
        height: 2.25rem;
        padding: 0;
        cursor: pointer;
        color: transparent;
        background: none;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;

        i {
            color: #212529;
            font-size: .85rem;
            transition: transform 300ms;
            transform: rotate(90deg);
        }
    }

}

@keyframes controlPanelSlideIn {
    from { transform: translate3d(-100%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
}

@keyframes controlPanelSlideOut {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-100%, 0, 0); }
}