@import '../../../styles/_variables';
@import '../../../styles/mixins/_mixins';

$ctrl-panel-bg-color: #4a8998;
$ctrl-panel-active-color: rgb(46, 85, 95);
$ctrl-item-icon-size: 1rem;

.ctrl-panel {
    display: none;
    width: $ctrl-panel-width;
    min-height: 100%;
    background-color: $ctrl-panel-bg-color;
    z-index: 1040 !important; // 由於 swiper container 層級較高，因此需設定 !important
    transition: width $ctrl-panel-transition-duration;

    &.put-away {
        width: $ctrl-panel-put-away-width;
    }

    &.animated {
        position: absolute;
        left: 0;
        top: 0;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        animation-duration: $ctrl-panel-transition-duration;

        &.slide-in {
            display: block;
            animation-name: controlPanelSlideIn;
        }
    
        &.slide-out {
            display: block;
            animation-name: controlPanelSlideOut;
        }
    }

    .ctrl-panel-title {
        font-size: 1.25rem;
    }

    .swiper-wrapper {
        height: calc(100% - 3rem);
    }

    .swiper-slide {
        @include scrollable('y');
        font-size: .85rem;

        &::-webkit-scrollbar {
            width: 0;
            background-color: transparent;
        }
    }

    .swiper-pagination-bullet {
        background-color: white;
        margin: 0 .25rem;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary-color;
    }

    .app-icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: .25rem;
    }

    .list-group-item {  
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: $ctrl-panel-bg-color;
        cursor: pointer;
        border: none;

        &.logo-item {
            position: fixed;
            top: 0;
            width: 100%;
            height: $toolbar-height;
            z-index: 10;
        }

        .feature-icon {
            &:hover {
                will-change: transform;
                transform: scale(1.25);
            }
        }

        .custom-item-icon {
            width: $ctrl-item-icon-size;
            height: $ctrl-item-icon-size;
            padding-left: 1.5px; // 與 font-awesome icon 對齊
            color: inherit;

            &.large {
                width: $ctrl-item-icon-size * 1.5;
                height: $ctrl-item-icon-size * 1.5;
            }

            &.svg path {
                fill: #f8f9fa;
            }
        }
    }

    .detail-list {
        padding-top: $toolbar-height;

        .list-group-item {
            display: flex;
            align-items: center;
            letter-spacing: 1.2px;
            font-weight: 300;

            &:hover {
                background-color: $ctrl-panel-active-color;
            }

            > :first-child {
                margin-right: .5rem;
            }

            span {
                max-width: 55%;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .nested {
            > :first-child,
            &.list-group-item {
                margin-left: .5rem;
            }

            .nested {
                > :first-child,
                &.list-group-item {
                    margin-left: 1rem;
                }

                .nested {
                    > :first-child,
                    &.list-group-item {
                        margin-left: 1.25rem;
                    }
                }
            }
        }
    }

    .ctrl-panel-logo {
        width: $ctrl-panel-logo-size;
        height: $ctrl-panel-logo-size;
    }

    &:not(.put-away) + .edge-toggle-container:hover .edge-toggle-btn:hover i::before {
        content: "\f053";
    }

    &.put-away + .edge-toggle-container:hover .edge-toggle-btn:hover i::before {
        content: "\f054";
    }

    + .edge-toggle-container {
        left: $ctrl-panel-width;
    }
}

.ctrl-panel-backdrop {
    position: absolute;
    left: $ctrl-panel-width;
    top: 0;
    width: calc(100vw - #{$ctrl-panel-width});
    height: 100vh;
    z-index: 1039;
    background-color: transparent;
}

.line-dev-link {
    background-color: $line-dev-color;
    border-radius: .5rem;

    .line-dev-logo {
        width: 12.5rem;
        height: 1.5rem;
    }
}

.fb-fanpage-picture {
    width: 2rem;
    height: 2rem;
}

.fb-sdk-item {
    .fb-import-button {
        border-radius: .5rem;
        background-color: $facebook-color;
        color: white;
        cursor: pointer;
    
        &:focus {
            outline: none;
        }
    }
}

@keyframes controlPanelSlideIn {
    from { transform: translate3d(-100%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
}

@keyframes controlPanelSlideOut {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-100%, 0, 0); }
}