$ipad: 768px;
$pc: 1024px;

.user-screen {
    display: none;
    .modal-dialog {
        margin: 0;
        width: 100%;
        height: 100%;
    }
}

.modal-header {
    background-color: #4d394b;
}