.notify-wapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;

    .notify-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        margin: auto;
        word-break: break-word;
    }
}
