.Table {
    width: 100%;
    display: block;
    thead, tbody {
        display: block;
        tr {
            display: flex;
            letter-spacing: .1rem;
            color: #333;
            .Greeting {
                display: flex;
                &__text {
                    width: 55%;
                    word-wrap: break-word;

                    textarea {
                        width: 100%;
                        height: 100%;
                    }
                }
            
                &__time {
                    width: 25%;
                    word-wrap: break-word;
                }
                &__button {
                    width: 20%;
                    .btn-secondary {
                        margin-top: 5%;
                    }
                }
            }
        }
    }
}

@media (min-width: 480px) {
    .Table {
        thead, tbody {
            tr {
                .Greeting {
                    &__text {
                        width: 60%;
                    }
                    &__button {
                        width: 15%;
                        button {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}