@import '../../styles/_variables';

$chat-wrapper-bg-color: #f7f8f9;
$watermark-size: 16rem;
$watermark-text-color: #8e8e8e;

.chat-wrapper {
    font-family: Microsoft JhengHei;
    height: calc(100% - #{$toolbar-height});
    overflow-y: hidden;
    background-color: $chat-wrapper-bg-color;

    .chatroom-container {
        overflow: hidden;

        &.open {
            &::before,
            .watermark-text {
                display: none; 
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: calc(50% - #{$watermark-size / 2});
            top: 0;
            width: $watermark-size;
            height: 100%;
            opacity: .5;
            background-color: transparent;
            background-image: url('../../image/logo.png');
            background-position: center calc(50% - #{$watermark-size / 4});
            background-size: contain;
            background-repeat: no-repeat;
        }

        .watermark-text {
            top: calc(50% + #{$watermark-size / 4});
            width: 100%;
            color: $watermark-text-color;
            opacity: .5;
            text-indent: 1rem;
            transform: translate3d(0, -50%, 0);
        }
    }
}

.profile-panel {
    border-radius: .25rem;
    background-color: #f7f8f9;
}
