@import '../../styles/mixins/_rwd';

.receptionists-wrapper {
    .card-footer {
        display: inherit;
        border: none;
    }

    .card-body,
    .card-footer {
        background-color: transparent;
    }

    .receptionist-item {
        min-width: 16rem;
        max-width: 100%;

        @include media-breakpoint-up(md) {
            max-width: calc(50% - 30px);
        }

        @include media-breakpoint-up(xl) {
            max-width: calc(33% - 30px);
        }
    }

    .image-container {
        width: 6rem;
        height: 6rem;

        &, img {
            border-radius: 50%;
        }
    }
}