@import '../../styles/_variables';

.schedule-panel {
    position: absolute;
    left: 0;
    top: $toolbar-height;
    width: 100%;
    height: calc(100% - #{$toolbar-height});
    z-index: 1090;
    background-color: white;

    .receptionist-name,
    .close-btn {
        position: absolute;
        top: 1px;
        z-index: 1;
    }

    .receptionist-name {
        left: 1px;
        margin-top: .75rem;
    }

    .close-btn {
        right: 1px;
        width: 3rem;
        height: 3rem;
    }
}