.ticket-toolbar {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;

    .ticket-insert {
        margin-right: 2.5%;
        background-color: #fff;
        border: 1px solid #ccc;

        &:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    }

    .ticket-search-bar {
        width: 25%;
    }
}

.ticket-wrapper {
    padding: 1rem 10% 3rem;

    .consumer-avatar:hover {
        transform: scale(2);
    }

    .card-label {
        min-width: 40%;
    }

    .ticket-value {
        max-width: 60%;
    }

    .due-date-text {
        font-size: 1rem;
    }
}
