@import '../../styles/mixins/_mixins';
@import '../../styles/themes/_colors';

$_signin-bg-color: $primary-color;
$_signin-logo-width: 4rem;
$_signin-logo-height: 4rem;

.signin-container {
    height: 100%;
    padding-top: 4%;
    background: linear-gradient($_signin-bg-color 40%, #fff 60%);

    .chsr.input-group-prepend {
        width: 3rem;
    }

    .padding-left-right {
        padding: 0 5rem;
    }

    .signin-logo {
        margin-bottom: 2.5rem;
    
        img {
            width: $_signin-logo-width;
            height: $_signin-logo-height;
        }
    }
    
    .form-container {
        margin: 1rem 0 2rem;
        border: 1px solid #e5e5e5;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .signin-title {
        margin: 3rem 0;
    }

    .signin-trouble {
        margin: 2rem 0;

        .link-text {
            margin: 0 .25rem;
            color: $primary-color;
            cursor: pointer;
        }
    }

    @include RWD-phone() {
        & {
            padding: 2rem 3rem 0;
        }

        .padding-left-right {
            padding: 0 1.5rem;
        }

        .signin-logo {
            margin-bottom: 1.5rem;
        }
    }

    @include RWD-pad() {
        & {
            padding: 5rem 3rem 0;
        }

        .padding-left-right {
            padding: 0 2.5rem;
        }

        .signin-logo {
            margin-bottom: 2.5rem;
        }
    }
}
