@import '../../styles/mixins/_mixins';
@import '../../styles/_variables';

$_reset-bg-color: $primary-color;
$_reset-logo-width: 4rem;
$_reset-logo-height: 4rem;

.reset-container {
    height: 100%;
    padding-top: 4%;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient($_reset-bg-color 40%, #fff 60%);
    }

    .chsr.input-group-prepend {
        width: 3rem;
    }

    .padding-left-right {
        padding: 0 2.5rem;
    }

    .logo-container {
        margin-bottom: 0;
    }

    .chatshier-logo img {
        width: $_reset-logo-width;
        height: $_reset-logo-height;
    }
    
    .form-container {
        max-width: 40rem;
        margin: 1rem 0 2rem;
        border: 1px solid #e5e5e5;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .reset-title {
        margin: 3rem 0;
    }

    .reset-trouble {
        margin: 1.5rem 0;

        .link-text {
            color: $primary-color;
            cursor: pointer;
        }
    }

    @include media-phone() {
        & {
            padding: 2rem 1rem 0;
        }

        .padding-left-right {
            padding: 0 1rem;
        }

        .reset-logo {
            margin-bottom: 1.5rem;
        }
    }

    @include media-pad() {
        & {
            padding: 5rem 3rem 0;
        }

        .padding-left-right {
            padding: 0 2rem;
        }

        .reset-logo {
            margin-bottom: 2.5rem;
        }
    }
}
