@import './styles/mixins/_rwd';
@import './styles/_variables';

html,
body,
.root {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    overflow: hidden;
}

.root {
    background-color: $body-bg-color;
    align-items: stretch;

    .animated {
        animation-duration: 300ms;
    }
}

// 自定義 font-awesome class
.fa-1p5x {
    font-size: 1.5em;
}
