@import './styles/mixins/_rwd';
@import './styles/_variables';

html,
body,
.root {
    height: 100%;
    z-index: 0;
    overflow: auto;
}

.root {
    background-color: $body-bg-color;
}

@include media-breakpoint-down(sm) {
    html {
        font-size: 80%;
    }
}