@import './styles/mixins/_rwd';
@import './styles/_variables';

html,
body,
.root {
    height: 100%;
    z-index: 0;
    overflow: auto;
}

.root {
    background-color: $body-bg-color;
    align-items: stretch;
}

.admin-content {
    width: 100%;
}

@media (min-width: 576px) and (max-width: 768px) {
    .admin-content {
        width: 70vw;
    }
}

@media (min-width: 769px) {
    .admin-content {
        width: 75vw;
    }
}

@media (min-width: 1200px) {
    .admin-content {
        width: 84vw;
    }
}