@import 'node_modules/bootstrap/scss/_functions';
@import 'node_modules/bootstrap/scss/_variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
// https://getbootstrap.com/docs/4.0/layout/overview/

$_pc-break-point: 1024px;
$_mobile-break-point: 768px;

$_phone-portrait-bp-min: 320px;
$_phone-portrait-bp-max: 480px;

@mixin media-pad() {
    @media only screen and (min-width: $_phone-portrait-bp-max) and (max-width: $_mobile-break-point) {
        @content;
    }
}

@mixin media-phone() {
    @media only screen and (max-width: $_phone-portrait-bp-max) {
        @content;
    }
}
